1. Two people work in a factory making parts for cars.

In [30]:
import pandas as pd
data = [{'Mon': 15, 'Tue': 21, 'Wed':20, 'Thur':20, 'Fri':20},
        {'Mon': 30, 'Tue': 25, 'Wed':12, 'Thur':35, 'Fri':0}]

df = pd.DataFrame(data, index = ['Philip','Mathew'] )
print(df)
print('\n')
print("Mean is:\n",df.mean(axis=1))
print('\n')
print("Median is:\n",df.median(axis=1))
print('\n')
print("Rnage is:\n",(df.max(axis=1))-(df.min(axis=1)))

# more consistent is philip
# Mathew makes more parts in a week

        Mon  Tue  Wed  Thur  Fri
Philip   15   21   20    20   20
Mathew   30   25   12    35    0


Mean is:
 Philip    19.2
Mathew    20.4
dtype: float64


Median is:
 Philip    20.0
Mathew    25.0
dtype: float64


Rnage is:
 Philip     6
Mathew    35
dtype: int64

2. Following are Kohliâ€™s scores in 4 matches played between India and Australia, match 5 being
the latest one played in a five match series

In [46]:
Matches = [1,2,3,4]
Score = [65,72,58,77]
cols = ['Matches','Score']
df1 = pd.DataFrame(list(zip(Matches,Score)), columns = cols)
print(df1)

# a) What are his mean and median scores for the first four matches played?
print("Mean: ",df1['Score'].mean())
print("Median: ",df1['Score'].median())

# b) If he scores 70 in his fifth match, does his series mean score increase or decrease w.r.t. scores
# obtained for first four matches. Find his new mean score. "Increases"
df1.loc[4] = [5, 70]
df1
print("New Mean: ",df1['Score'].mean())

# c) Which has increased more, his mean score or his median score after the fifth match? "Median"
print("New Median: ",df1['Score'].median())

   Matches  Score
0        1     65
1        2     72
2        3     58
3        4     77
Mean:  68.0
Median:  68.5
New Mean:  68.4
New Median:  70.0

3. A company has 50 employees and their average salary is 1 Lakh per annum. They recruited a
CEO whose salary is very high. Which of the following measure of Central Tendencies will be
impacted more?

a)Median
b)Mode
c)Mean

Mean will be the one which will be impacted more

4. Here is the data of experience of individuals in a PGP class. We have grouped individuals into
4 groups. Compute the average and median values for each group and list your observations:

a) What is the average in each group?
b) What is the median in each group?
c) What is the average experience across all groups?
d) Does the average of the each group average experience is same as the Grand average?

In [59]:
grpA=[0,0,0,0,0,0,1,2,1,6]
grpB=[3,12,3.5,14,3,2.8,5,9,5.5,9]
grpC=[14,9.5,4.5,7.5,5,2,4.8,3.6,6,8.5]
grpD=[9,4.5,9,8,4,6,5,3.5,2.8,12]

df2 = pd.DataFrame(list(zip(grpA,grpB,grpC,grpD)))
df2.transpose()
df2.columns  = ['Group 1','Group 2', 'Group 3', 'Group 4']
df2
df2 = df2.astype({"Group 1":'int', "Group 2":'int', "Group 3":'int', "Group 4":'int'}) 
print(df2)

# a) What is the average in each group?
print('\n')
print("Mean is:\n",df2.mean(axis=0))

# b) What is the median in each group?
print('\n')
print("Median is:\n",df2.median(axis=0))

# c) What is the average experience across all groups?
df2.stack().mean()

# d) Does the average of the each group average experience is same as the Grand average?
# No

   Group 1  Group 2  Group 3  Group 4
0        0        3       14        9
1        0       12        9        4
2        0        3        4        9
3        0       14        7        8
4        0        3        5        4
5        0        2        2        6
6        1        5        4        5
7        2        9        3        3
8        1        5        6        2
9        6        9        8       12


Mean is:
 Group 1    1.0
Group 2    6.5
Group 3    6.2
Group 4    6.2
dtype: float64


Median is:
 Group 1    0.0
Group 2    5.0
Group 3    5.5
Group 4    5.5
dtype: float64

4.975

5) Find the mode for the below series
a) 8,6, 2, 4, 6, 8,10,8
b)"apples","apples","apples","oranges","oranges","oranges","grapes","mango

In [66]:
a = (8,6, 2, 4, 6, 8,10,8)
s1 = pd.Series(a)
print(s1.mode())

b = ["apples","apples","apples","oranges","oranges","oranges","grapes","mango"]
s2 = pd.Series(b)
print(s2.mode())

0    8
dtype: int64
0     apples
1    oranges
dtype: object

Practice Assignment:

In [70]:
# a) Create a vector with first 100 natural numbers. Compute its mean and median.

import numpy as np
l1 = np.arange(1,101)
l1.mean()

50.5

In [74]:
# b) Create a vector with 12, 13, 12, 15, 32, 32, 24, 24, 53, 45, 78, 53, 91. Compute its mean
# and median.
import statistics
l2 = [12, 13, 12, 15, 32, 32, 24, 24, 53, 45, 78, 53, 91]
statistics.mean(l2)

37.23076923076923

In [77]:
# c) Create a random vector of length 10 with values between 20 and 40. Compute its mean
# and median.

l3 = np.random.normal(20,40,10)
print(statistics.mean(l3))
print(statistics.median(l3))

48.03901599833648
35.133926003061546

In [79]:
# d) Calculate the mode for following numbers using table and modes function. Report your
# observation.
# Y <- c(10, 10, 20, 20, 20, 20, 30, 30, 30, 25, 75, 30)

Y  = [10, 10, 20, 20, 20, 20, 30, 30, 30, 25, 75, 30]
print(statistics.mode(Y))
y1 = pd.Series(Y)
y1.mode()

20

0    20
1    30
dtype: int64