# Pandas

1. tabular data cannot be represented in the form of array
2. Data representatation is far better in pandas as compared to numpy

In [1]:
# install pandas package
!pip install pandas

Requirement already satisfied: pandas in /root/anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in /root/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /root/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /root/anaconda3/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in /root/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
# importing pandas
import pandas as pd

# Data Structures

1. Series--- only have single column
2. Dataframe ---- 2d matrix --- proper tabular form data

### creating of series

1. list
2. array
3. dic

In [68]:
# using list
river = ['ganga' , [1,2] , 'neil' , 'Tennessee' , 'Brazos']

In [69]:
river_name = pd.Series(river)
river_name

0        ganga
1       [1, 2]
2         neil
3    Tennessee
4       Brazos
dtype: object

In [19]:
# chnage the indices name
river_name = pd.Series(river , index = list('abbde'))
river_name

a        ganga
b       yamuna
b         neil
d    Tennessee
e       Brazos
dtype: object

In [8]:
river_name.shape

(5,)

In [10]:
# using array
import numpy as np

In [14]:
np.random.randn(5) # random standaed deviation

array([ 0.92061681,  0.18167655, -0.2970718 ,  0.13976987, -0.64103322])

In [11]:
random_array = pd.Series(np.random.randn(5))
random_array

0    0.852619
1   -0.094508
2    0.267812
3    0.068302
4   -0.994267
dtype: float64

In [20]:
random_array = pd.Series(np.random.randn(5) , index = ['rand_1' , 'rand_2' , 'rand_3' , 'rand_4' , 'rand_5'])
random_array

rand_1    0.925986
rand_2   -1.342249
rand_3   -0.605218
rand_4    0.179701
rand_5   -0.085406
dtype: float64

In [21]:
# using dic
data = {'b'  :0 , 'a':1 , 'c':2}
pd.Series(data)

b    0
a    1
c    2
dtype: int64

In [34]:
data = {'b'  :'0' , 'a':'1' , 'c':'2'}
data_s = pd.Series(data , index = list('cab'))

Nan - Not a Number

# indexing and Slicing

## indexing

1.  zero indexing rule that you have studied
2. by giving the index anme that you have given of yout choice

In [39]:
random_array[-1]

-0.08540603392021326

In [36]:
random_array['rand_4']

0.1797009678217507

In [37]:
river_name['b']

b    yamuna
b      neil
dtype: object

In [38]:
random_array['rand_6']

KeyError: 'rand_6'

In [41]:
# slicing ---[start , end , step]
random_array[::2]

rand_1    0.925986
rand_3   -0.605218
rand_5   -0.085406
dtype: float64

In [42]:
random_array[:'b'] # her rand_4 will be also included

rand_1    0.925986
rand_2   -1.342249
rand_3   -0.605218
rand_4    0.179701
dtype: float64

In [51]:
river_name['a':'hfdftgxfg']

a        ganga
b       yamuna
b         neil
d    Tennessee
e       Brazos
dtype: object

In [52]:
# lets try to create a series of two list where one will be the index and other will be the value

brics_country = ['Brazil' , 'Russia' , 'India' , 'China' , 'south africa']
brics_currency = ['Real' , 'Ruble' , 'Rupee' , 'Renminbi' , 'Rand']

In [56]:
# pd.Series(index = brics_country , data = brics_currency)
brics_data = pd.Series(brics_currency ,index = brics_country)
brics_data

Brazil              Real
Russia             Ruble
India              Rupee
China           Renminbi
south africa        Rand
dtype: object

In [57]:
brics_data.index

Index(['Brazil', 'Russia', 'India', 'China', 'south africa'], dtype='object')

In [58]:
brics_data.values

array(['Real', 'Ruble', 'Rupee', 'Renminbi', 'Rand'], dtype=object)

In [60]:
brics_data[-1]

'Rand'

In [61]:
brics_data[:]

Brazil              Real
Russia             Ruble
India              Rupee
China           Renminbi
south africa        Rand
dtype: object

In [62]:
brics_data['Russia']

'Ruble'

In [63]:
brics_data['Brazil':'China']

Brazil        Real
Russia       Ruble
India        Rupee
China     Renminbi
dtype: object

# Dataframe

In [70]:
# how to create a dataframe
empty_df = pd.DataFrame()
empty_df

Empty DataFrame
Columns: []
Index: []

In [72]:
# creating a dataframe with single column
brics_country = ['Brazil' , 'Russia' , 'India' , 'China' , 'south africa']
data_df = pd.DataFrame(brics_country)
data_df

              0
0        Brazil
1        Russia
2         India
3         China
4  south africa

In [73]:
data_df.shape

(5, 1)

In [83]:
brics_country = ['Brazil' , 'Russia' , 'India' , 'China' , 'south africa']
data_df = pd.DataFrame(brics_country , columns=['country'])
data_df

        country
0        Brazil
1        Russia
2         India
3         China
4  south africa

In [84]:
brics_country = ['Brazil' , 'Russia' , 'India' , 'China' , 'south africa']
brics_currency = ['Real' , 'Ruble' , 'Rupee' , 'Renminbi' , 'Rand']

# 1. using two list and zipping

In [88]:
data = list(zip(brics_country ,brics_currency))

In [90]:
data_df = pd.DataFrame(data)
data_df

              0         1
0        Brazil      Real
1        Russia     Ruble
2         India     Rupee
3         China  Renminbi
4  south africa      Rand

In [91]:
data_df = pd.DataFrame(data , columns=['country' , 'currency'])
data_df

        country  currency
0        Brazil      Real
1        Russia     Ruble
2         India     Rupee
3         China  Renminbi
4  south africa      Rand

# 2. using dic

In [97]:
# using dic
data = pd.DataFrame({'a':[3,9] , 'b':[4,5] , 'c':[8,9]} , columns=['a' , 'asdas' , 'asdads'])
data

   a asdas asdads
0  3   NaN    NaN
1  9   NaN    NaN

# 3. importing the files

In [105]:
# CSV
data_csv = pd.read_csv("ted_data.csv")

In [106]:
data_csv

,name_speaker,speaker_occupation,title,views,comments
0,Ken Robinson,Author/educator,Do schools kill creativity?,47227110,4553
1,Al Gore,Climate advocate,Averting the climate crisis,3200520,265
2,David Pogue,Technology columnist,Simplicity sells,1636292,124
3,Majora Carter,Activist for environmental justice,Greening the ghetto,1697550,200
4,Hans Rosling,Global health expert; data visionary,The best stats you've ever seen,12005869,593
5,Tony Robbins,Life coach; expert in leadership psychology,Why we do what we do,20685401,672
6,Julia Sweeney,"Actor, comedian, playwright",Letting go of God,3769987,919
7,Joshua Prince-Ramus,Architect,Behind the design of Seattle's library,967741,46
8,Dan Dennett,"Philosopher, cognitive scientist",Let's teach religion -- all religion -- in sch...,2567958,582
9,Rick Warren,"Pastor, author",A life of purpose,3095993,900

In [120]:
# EXCEL
data_excel_1 = pd.read_excel('football_worldcup.xlsx' , 'Sheet 1')
data_excel_1

   Year       Country    Winner   Runners-Up  GoalsScored  MatchesPlayed
0  1990         Italy  Germany     Argentina          115             52
1  1994           USA    Brazil        Italy          141             52
2  1998        France    France       Brazil          171             64
3  2002         Japan    Brazil      Germany          161             64
4  2006       Germany     Italy       France          147             64
5  2010  South Africa     Spain  Netherlands          145             64
6  2014        Brazil   Germany    Argentina          171             64