In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import statsmodels.api as sm

In [15]:
data = pd.read_csv("Toyota_SimpleReg.csv", engine='python')

In [16]:
data.describe()

                Id         Price    Age_06_15
count  1436.000000   1436.000000  1436.000000
mean    721.555014  10730.824513    89.947075
std     416.476890   3626.964585    18.599988
min       1.000000   4350.000000    35.000000
25%     361.750000   8450.000000    78.000000
50%     721.500000   9900.000000    95.000000
75%    1081.250000  11950.000000   104.000000
max    1442.000000  32500.000000   114.000000